* {
    text-align: center;
    background-color: rgb(23, 30, 51);
    color: rgb(211, 211, 211);
}
.App {
    display: flex;
    flex-direction: column;
    .img-wrapper {
        max-width: 750px;
        align-self: center;
    }
    img {
        width: 100%;
        max-width: 100%;
        border: 1px solid rgb(211, 211, 211);
    }
}